.done {
    text-decoration: line-through;
    color: #5cb85c;
}

.pending {
    color: #ff6a00;
}

span {
    font-size: 12px;
}
body{
    background:url(image.png);
    color: azure;

}
a{
    color: aliceblue;
}
.container{
    display: flex;
     align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 140px;
}
h2{
    text-shadow: 1px 1px;
    font-weight: bolder;
}