body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
    /* padding-top: 60px; */
}

h2 {
    color: #38bdf8;
}

input {
    padding: 12px;
    width: 400px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 12px 25px;
    background: #38bdf8;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background: #0284c7;
}

p {
    font-size: 18px;
}
form{
    display: flex;
    justify-content: center;
    gap: 8px;
}

input:hover{
    background-color: rgb(232, 232, 232);
}

footer{
    position: relative;
    top: 100px;
}
nav{
        display: flex;
        gap: 9px;

}