<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h2>My Tasks</h2>
    <button style="background-color: black;margin-bottom: 10px;width: 90px;height: 30px;border-radius: 10px;"><a href="/logout" style="text-decoration: none;font-weight: bold;">Logout</a></button>

    <form method="POST">
        <input name="task" placeholder="New task" required style="background-color: beige;width: 200px;height: 20px;border-radius: 15px;">
        <button style="width: 60px;border-radius: 10px;height: 26px;background-color: rgb(0, 0, 0);color: white;">Add</button>
    </form>

    <ul>
        {% for t in tasks %}
        <li class="{{ t[2]|lower }}">
            {{ t[1] }}
            <span>{{ t[2] }}</span>
            <a href="/toggle/{{ t[0] }}">✔</a>
            <a href="/delete/{{ t[0] }}">✖</a>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
